@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1240px;
    margin: 0 auto;
}

header {
    width: 100%;
    float: left;
    background-color: #eaeae9;
    height: 80px;
    border-bottom: 0.5px solid rgb(152, 148, 148);
}

.logo {
    display: inline-block;
    width: 20%;
    float: left;
}

.logo .img {
    width: 200px;
    height: 80px;
    margin: 0 auto;
}

.logo .img img {
    margin-top: 8px;
}

.header-right-side {
    width: 80%;
    float: left;
    height: inherit;
}

.header-right-side .right-side-content {
    height: 80px;
    line-height: 80px;
    float: right;
}

.header-right-side .right-side-content span {
    margin-right: 16px;
    cursor: pointer;
}

.header-right-side .right-side-content .search-bar {
    margin-right: 20px;
}

.search-bar input {
    line-height: 80px;
    outline: none;
    height: 40px;
    font-size: 16px;
    padding: 8px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    width: 350px;
    margin: 0;
    border: none;
}

.search-bar button {
    line-height: 80px;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 50px;
    top: -6.2px;
    right: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 9.1px 18px;
    border-left: 1px rgb(196, 196, 196) solid;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.search-bar button i {
    color: rgb(171, 168, 168);
    position: absolute;
    left: 30%;
    top: 30%;
    height: 40px;
    text-align: center;
}

.cart {
    font-size: 24px;
}

.nav {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    background-color: #eaeae9;
    padding: 1rem 0;
}

.nav a {
    background-color: #fff;
    border-radius: 4px;
    padding: 4px 30px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin-left: 16px;
    transition: all .3s;
}

.nav a:hover {
    color: white;
    background-color: red;
    border: 1px solid red;
}

.carousel-item img {
    width: 100%;
    height: 400px;
}

.product-display {
    width: 100%;
    margin: 20px auto 0;
    border-radius: 10px;
}

.product-display h2 {
    width: 100%;
    background-color: #d7202c;
    color: white;
    font-size: 25px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-container {
    margin-left: -15px;
    margin-right: -15px;
}

.item-container {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s;
}

.item-container:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.item {
    box-shadow: 0px 2px 8px 4px rgb(0 0 0 / 50%);
    margin-bottom: 30px;
}

.item-container .item img {
    width: 100%;
}

.item-container .item .product-info {
    background-color: #e3e3e3;
    padding: 10px 8px 2px;
}

.item-container .item h5 {
    color: #3c3c3c;
    font-size: 14px;
}

.item-container .item h3 {
    color: #ED0000;
    font-size: 20px;
    padding-top: 8px;
}

.item-container a {
    text-decoration: none;
}

footer {
    width: 100%;
    height: 60px;
    /* margin:10px 15px 20px 15px; */
    background-color: aquamarine;
    float: left;
}

.container-success-register {
    color: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container-success-register .success-register-form {
    width: 50%;
    /* background-color: #a2f18e; */
    padding: 20px;
    border-radius: 8px;
    border: 1px rgb(69, 67, 67) solid;
}

.container-success-register .success-register-form .title {
    font-size: 32px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.container-success-register .success-register-form .ms {
    text-align: center;
    margin-top: 16px;
}

.container-success-register .success-register-form a {
    text-decoration: none;
    float: right;
    padding: 0.7rem 2rem;
    border-radius: 6px;
    background-color: #27c500;
    color: #fff;
}

.insurence .container .insurence-box .video {
    width: 80%;
  }
  
  .insurence .container .insurence-box .video iframe {
    border-radius: 8px;
    width: 100%;
    height: 60vh;
  }

  .insurence {
    background-color: #e3e3e3;
    padding: 20px 0;
    margin-top: 2rem;
  }
  
  .insurence .container {
    max-width: 1200px;
  }
  
  .insurence .container .insurence-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .insurence .container .insurence-box .content {
    width: 80%;
    text-align: center;
  }
  
  .insurence .container .insurence-box .content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Volkhov", serif;
    line-height: 3.125rem;
  }
  
  .insurence .container .insurence-box .content p {
    font-size: 17px;
    line-height: 27px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 3rem;
  }